# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - popular languages that Data Scientists
 - commonly used libraries used by Data Scientists
 - arithmetic expression to mutiply

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. Julia

| Data Science Tools |
| -------------|
| SQL |
| Machine Learning |
| Plotting |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = min/60
hours

3.3333333333333335

## Author
 Harshit Verma